body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

#menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.item {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}
