body {font-family: Arial; text-align:center; background:#f2f2f2;}
.tables button {
    padding:15px; margin:10px; width:80px;
    background:#ff5722; color:white; border:none; border-radius:6px;
}
.menu {display:flex; flex-wrap:wrap; justify-content:center;}
.item {
    background:white; margin:10px; padding:10px;
    width:150px; border-radius:8px; box-shadow:0 3px 6px rgba(0,0,0,0.2);
}
.item img {width:100%; height:80px; object-fit:cover;}
button {cursor:pointer;}
